/*
:Date: 2024-05-15
:Version: 0.1.1
:Authors:
    * Mohammad Alghafli <thebsom@gmail.com>

.takdivs-table class.

usage:
  * apply .takdivs-table class to a <table> element.
  
  * the <thead> child of the .takdivs-table will always be visible, even if the
    table is so big and you scroll down the table.
    
  * borders are added to the cells of the table.
  
  * add .alternate-color class to the .takdivs-table to make alternate rows have
    alternate background colors. modifiy even rows colors with the css custom
    attribute --takdivs-even-background-color.
  
  * add .selectable class to the takdivs-table to change background color of the
    row when you hover over it. when .selectable class is applied, any row with
    .selected class will change its background color. you can set the background
    color of hover and .selected with css custom attributes
    --takdivs-hover-background-color and --takdivs-selected-background-color.
    
  * you must put a <thead> in the .takdivs-table. otherwise, the table header
    will not follow the scroll to stay visible.
  
  * you must put a <tbody> in the .takdivs-table. otherwise, the table rows will
    not be styled by .alternate-color and .selectable classes.
*/

.takdivs-table {
    --takdivs-border-width: var(--takdivs-border-small);
    --takdivs-even-background-color: lightgray;
    --takdivs-hover-background-color: lightblue;
    --takdivs-selected-background-color: cyan;
    
    border-spacing: 0;

    & > thead {
        position: sticky;
        inset-block-start: 0;
    }

    & td, & th {
        border: solid black calc(var(--takdivs-border-width) / 2);
    }

    & tr:first-child td, & tr:first-child th {
        border-block-start-width: var(--takdivs-border-width);
    }

    & tr:last-child td, & tr:last-child th {
        border-block-end-width: var(--takdivs-border-width);
    }

    td:first-child, th:first-child {
        border-inline-start-width: var(--takdivs-border-width);
    }

    td:last-child, th:last-child {
        border-inline-end-width: var(--takdivs-border-width);
    }
    
    &.alternate-color > tbody > tr:nth-child(even) {
      background-color: var(--takdivs-even-background-color);
    }
    
    &.selectable > tbody > tr:hover {
      background-color: var(--takdivs-hover-background-color);
    }
    
    &.selectable > tbody > tr.selected {
      background-color: var(--takdivs-selected-background-color);
    }
}

