/*
:Date: 2024-08-09
:Version: 0.1.2
:Authors:
    * Mohammad Alghafli <thebsom@gmail.com>

.takdivs-grid class. it makes an element a grid container. the style was written
to be similar to a file manager.

usage:
  * apply .takdivs-grid class to an element to make it a grid. children size
    is medium.
  
  * apply .small-items class to make children small.
  
  * apply .medium-items class to make children medium (default).

  * apply .large-items class to make children large.
*/

.takdivs-grid {
    --takdivs-size-column-width: var(--takdivs-size-medium);
    
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--takdivs-size-column-width));
    grid-auto-rows: var(--takdivs-size-column-width);
    
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around;
    
    gap: var(--takdivs-border-large);
    padding: var(--takdivs-border-large);
    
    &.small-items {
        --takdivs-size-column-width: var(--takdivs-size-small);
    }
    &.medium-items {
        --takdivs-size-column-width: var(--takdivs-size-medium);
    }
    &.large-items {
        --takdivs-size-column-width: var(--takdivs-size-large);
    }

    &.hover > *:hover {
        background: var(--takdivs-color-primary-2);
    }

    &.click > *:active {
        background: var(--takdivs-color-primary-3);
    }
}

