/*
:Date: 2024-05-11
:Version: 0.1.0
:Authors:
    * Mohammad Alghafli <thebsom@gmail.com>

custom properties used in takdivs:
  * takdivs-border-*:
    * small
    * medium
    * large
  * takdivs-size-*:
    * small
    * medium
    * large
*/

:root {
    --takdivs-border-small: 2px;
    --takdivs-border-medium: 4px;
    --takdivs-border-large: 8px;
    
    --takdivs-size-small: 50px;
    --takdivs-size-medium: 100px;
    --takdivs-size-large: 200px;
}

