/*
:Date: 2024-05-11
:Version: 0.1.0
:Authors:
    * Mohammad Alghafli <thebsom@gmail.com>

.takdivs-scrolledwindow class.

usage:
  * apply .takdivs-scrolledwindow class to a div.
  
  * put a single element child in the .takdivs-scrolledwindow.
    
  * the .takdivs-scrolledwindow will take the size given to it by its parent
    regardless of its child size.
  
  * the .takdivs-scrolledwindow child will be scrollable if it overflows.
  
  * the .takdivs-scrolledwindow will allow you to scroll over the child.
    
  * apply .no-x class to the scrolledwindow to make the child take full width
    and disable scrolling in the x axis.
    
  * apply .no-y class to the scrolledwindow to make the child take full height
    and disable scrolling in the y axis.
    
  * all children of .takdivs-imgbox other than the first child will not be
    displayed.
*/

.takdivs-scrolledwindow {
    position: relative;
    overflow: auto;
    
    & > * {
        position: absolute;
    }
    
    &.no-x > * {
        width: 100%;
    }
    
    &.no-y > * {
        height: 100%;
    }
    
    & > :not(:first-child) {
        display: none;
    }
}

